
/* Main nav */
.subnav {
    z-index: 1;
    height: 51px;
    color: #969696;
}

.subnav > div {
    height: 100%;
}

.brand_img {
    width: 150px;
    margin-top: 8px;
    margin-right: 8px;
}

.web_options {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_controls {
    height: 100%;
}

.nav_options {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.4rem;
    letter-spacing: 1.05px;
    font-weight: 400;
    padding: 0 14px;
    height: 100%;
}
.nav_options::after {
    content: '';
    position: absolute;
    border-bottom: 0 solid #0d6efd;
    left: 0;
    right: 0;
    bottom: 0;
}
.nav_options.active::after, .nav_options:hover::after {
    content: '';
    position: absolute;
    border-width: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all ease-in 100ms;
}

.nav_options span {
    font-size: 2rem;
}

.web_search {

}


.subnav_label {
    font-size: 1rem;
}
.subnav .control-item {
    padding: 0 10px;
    border-left: 1px solid #5d5d5d;
}

.headnav_logo {
    width: 150px;
}

.control-item a {
    color: inherit;
    text-decoration: none;

}

.control-item span {
    font-weight: 700;
}

/* Main nav */

.headnav_services {
    color: #969696;
}

.haednav_contacts span {
    display: inline-block;
    padding: 4px 2px;
}

.haednav_contacts span:last-child:hover {
    color: aqua;
    cursor: pointer;
}

.headnav_search {
    display: flex;
    justify-content: space-between;
    width: var(--search-width);
    height: var(--search-height);
    border-radius: 999px;
    overflow: hidden;
    border: 1px solid #666;
     background-color: rgb(32, 32, 32);;
}

.headnav_search input{
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    white-space: nowrap;
    color: rgb(245, 245, 245);
    width: 100%;
    margin-right: 14px;
    background-color: rgba(0, 0, 0, 0);
}


.headnav_search span {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    margin: 14px;
    background: transparent;
    cursor: pointer;
}
.search_area {
    position: relative;
}

.search_results {
    display: none;
}

.search_results.active {
    position: absolute;
    display: block;
    top: calc(var(--search-height) + 4px);
    left: 0;
    right: calc(-1 * var(--search-width));
    z-index: 3;
}

.search_result_wrapper {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    overflow-y: scroll;
}

.search_result_wrapper::-webkit-scrollbar {
    width: 2px;
    background-color: black;
}


.search_result_wrapper::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 2px;
}

.search_result_title {
    --search_title_height : 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 8px;
    height: var(--search_title_height);
    font-size: 1.4rem;
}

.search_result_title > * {
    flex: 1;
}
/* 
.overflow-x-scroll::-webkit-scrollbar {
    height: 1px;
    background-color: black;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 2px;
} */

.nav-menu_item {
    height: 40px;
    padding: 10px;
    color: #9a9a9a!important;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 2rem;
    margin-bottom: 0;
}

.nav-menu_item:hover, .nav-menu_item.active {
    color: rgb(245, 245, 245)!important;
    transition: all ease-in 200ms;
}

/* Product banner */
.banner_row {
    max-height: 460px;
}

.product_banner_wrapper > div {
    border-radius: 16px;
    overflow: hidden;
}

.banner_body  {
    width: 320px;
    left: 32px;
    bottom: 32px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: start;
    pointer-events: none;
}

.banner_brand {
    width: 150px;
    height: 55px;
    margin-bottom: 20px;
    opacity: 1;
    background-image: url("https://cdn2.unrealengine.com/egs-ac-mirage-carousel-logo-350x143-c22cafeefdfb.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    animation: 300ms cubic-bezier(0.17, 0.17, 0.23, 1) 300ms 1 normal forwards running animation-10bfzmq;
}

.carousel_wrapper {
    max-height: 438px;
}
@media (min-width: 1024px){
    .banner_brand {
        height: 80px;
        margin-bottom: 17px;
    }
}

@media (min-width: 1280px) {
    .banner_brand {
        width: 262px;
        height: 145px;
        margin-bottom: 25px;
    }
}

.banner-head_description {
    text-shadow: rgba(0, 0, 0, 0.25) 0.5px 0.5px 0.5px;
    text-align: left;
    transition: opacity 200ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
    opacity: 1;
}


.banner_isAvailabel {
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.3333;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-text_wrapper {
    font-size: 16px;
    line-height: 20px;
    display: flex;
}

.banner_text {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.banner-buynow_offer {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 15px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 50px;
    width: auto;
    min-width: auto;
}

.banner-addwishlist_offer {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 15px;
    padding: 0px 20px;
    height: 50px;
    width: auto;
    min-width: auto;
    background-color: transparent;
    color: rgb(245, 245, 245);
}

.offer_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* Side product banner */

.product_wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 438px;
}

.product_wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.product_wrapper::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.game_product_thumb {
    display: flex;
    align-items: center;
    height: 73px;
    padding: 10px 0px 10px 6px;
    margin-right: 4px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.game_product_thumb:hover {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

.game_product_avatar {
    margin: 0 8px;
    width: 40px;
}

.game_product_avatar > div {
    height: 1px;
    overflow: hidden;
    padding-bottom: calc(4/3*100%);
}

.game_title {
    flex: 1;
    font-size: 1.2rem;
    word-wrap: break-word;
}
/*================================== Game items =================================== */
.game_picture {
    width: 100%;
}

.game_picture_wrapper {
    height: 1px;
    padding-bottom: calc(4/3*100%);
    overflow: hidden;
}

.game_picture_wrapper.txf {
    padding-bottom: calc(3/4*100%);

}

.game_title,.game_old_price,.game_new_price {
    font-size: 1.4rem;
}


.game_saleoff {
    text-align: center;
    padding: 5px 10px;
}

/* ================================== Game group 3 ============================ */
.productGroup_description {
    min-height: 45px;
}

.productGroup_price_label {
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.2px;
}

.game_picture.product_group {
    border-radius: 16px;
    overflow: hidden;
}
/*================================== Footer =================================== */
.footer_wrapper {
    margin: 0 40px;
    color: white;
}

.contact_link {
    text-decoration: none;
    font-size: 2.8rem;
}

.contact_link + .contact_link {
    margin-left: 8px;
}

.contact_link:hover, .goup_btn:hover {
    opacity: 0.5;
    transition: ease-in-out 300ms;
}

.footer_link {
    font-size: 1.6rem;
}

.footer_link:hover {
    color: #969696!important;
    transition: ease 300ms;
}
.footer_copyright {
    font-size: 1.2rem;
}

.goup_btn {
    width: 35px;
    height: 35px;
}

/*================================== Breadcumbs =================================== */
