
/* =============================== Game details =============================== */
.game-details_title {
    font-size: 3rem;
    line-height: 35px;
    letter-spacing: -0.3px;
}

.game-details_tabs {
    padding: 10px 0;
    margin-top: 10px;
}

.game-details_overview span {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600px;
    border-bottom: 2px solid white;
}

@media (min-width: 768px) {
    .game-details_avatar {
        min-width: 605px;
        margin-bottom: 30px;
    }

    
    .game-details-side_avatar {
        /* width: 280px; */
        overflow: hidden;
    }
}

.game-details_avatar {
    margin-bottom: 30px;
}



.game-details_avatar div {
    overflow: hidden;
}

.game-details_avatar img {
    width: 100%;
}

.game_details_title {
    display: block;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
}

.game-details_tags {
    margin-top: 30px;
    justify-content: space-between;
}

.game-details_tag {
    padding: 8px 12px;
    width: 40%;
    border-left: 1px solid #f5f5f5;
}

.game-details_tag div {
    font-size: 1.4rem;
    color: #f5f5f599;
}

.game-details_tag a {
    display: inline-block;
    font-size: 1.4rem;
    color: #f5f5f5;
    text-decoration: underline;
}

.game-details_tag a:hover {
    text-decoration: none;
}

.game-details_notify {
    margin: 30px 0;
}

.game-details_notify div {
    border: 1px solid white;
    border-radius: 8px;
    padding: 18px;
    color: #f5f5f599;
}

.game-details_notify-title {
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.game-details_notify-content {
    font-size: 1.4rem;
    font-weight: 400;
}


/* ======================================================================== */
@media (min-width : 768px) {
    .game-details-side_wrapper {
        margin-left: 20%;
    }

   
}

.game-details-side_wrapper form {
    text-align: center;
}

.limited-age_labels {
    max-width: 50px;
    margin-top: 8px;
    border: 1px solid #666;
}



.game-details_prices {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.game-details_saleoff-deadline {
    font-size: 1.2rem;
    margin: 10px 0;
}

.game-details_buynow + .game-details_addcart{
    margin-left: 0;
}

.game-details_addcart, .game-details_buynow {
    padding: 8px;
    margin-bottom: 15px;
}
.game-details_support-infoes {
    font-weight: 600;
    margin-top: 30px;
}

.game-details_info {
    font-size: 1.4rem;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}



/* ============================Game description==================================== */
.game-details_description {
    display: block;
    font-size: 1.4rem;
    color: #f5f5f599;
}

.game_details_description-list {
    margin-left: 20px;
    list-style: circle;
}

/* ============================ Contact ====================================== */

.contact_group {
    margin-top: 50px;
}

.contact_title {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.contact_group_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.8rem;
}

.contact_group_body > a:hover i {
    color: whitesmoke;
    transition: all ease 300ms;
}
