.games-page {
    z-index: 0;
}

/*================================== Side bar  ===============================*/
.sidebar-left {
    background-color: transparent;
    width: 308px;
}

.sidebar-left ul {
    width: 100%;
    margin-bottom: 50px;
}

.sidebar-label {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: 4px 12px;
    height: 50px;
    color: white;
}
.sidebar-item {
    display: flex;
    align-items: center;;
    padding: 4px 12px;
    height: 48px;
    font-size: 1.6rem;
    cursor: pointer;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sidebar-item:hover {
    transform: translate(-5px);
    box-shadow: 5px 5px 5px 0px rgba(179, 60, 230, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(179, 60, 230, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(179, 60, 230, 0.75);
    opacity: 0.8;
    transition: all ease 300ms;
}

.sidebar-item + .sidebar-item {
    border-top: 1px solid #9B38BD;
}

.sidebar-item a {
    color: whitesmoke;
}
/* Game items */

.games-item {
    background-color: #666;
    opacity: 1;
}

.games-item:hover {
    opacity: 0.8;
    transition: all ease-in-out 300ms;
}
/* Filter================================================================== */

.filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    font-size: 1.6rem;
}

.filter_search {
    height: 40px;
    font-size: 1.4rem;
    border-radius: 4px;
    background-color: #666;
}

.filter_search > div {
    display: flex;
    align-items: center;
}
.filter_search span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.filter_search input {
    flex: 1;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    background-color: #666;
    color: white;
}

.filter_search input:hover {
    border: none;
    outline: none;
}

.filter_genre {
    display: flex;
}

.collapse_filter {
    flex: 1;
}

.collapse_filter button {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
}

.collapse_items {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1.4rem;
    cursor: pointer;
 }

.collapse_items:hover {
    opacity: 0.7;
    transition: all ease 200ms;
}

.collapse_items > label {
    flex: 1;
    padding: 12px 8px;
}

.collapse_items.active {
    background-color: #666;
}
/* ============================= Select arrow ============================= */
.select_group {
    position: relative;
    display: block;
    width: 15%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select_group + .select_group {
    margin-left: 8px;
}

.select_arrow {
    position: absolute;
    top: 14px;
    right: 9px;
    width: 9px;
    height: 9px;
    border: solid #fefefe;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}