.head {
    background-image: url("	https://cs-gameworld.myshopify.com/cdn/shop/t/5/assets/bg_image.jpg?v=13958289029611430451629426560");
    background-size: cover;
}
/* Sub nav */
.subnav {
    z-index: 1;
    background-color: black;
    height: 30px;
    color: #969696;
}

.subnav_label {
    font-size: 1rem;
}
/* Main nav */

.headnav_services {
    color: #969696;
}

.headnav_contacts span {
    display: inline-block;
    padding: 4px 2px;
}

.headnav_contacts span:hover {
    color: aqua;
    cursor: pointer;
}

.headnav_search {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.headnav_search input{
    flex: 1;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}

.headnav_search span {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 6px 7px;
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(245,245,245,1) 21%, rgba(226,226,226,1) 62%, rgba(226,226,226,1) 100%);
    cursor: pointer;
}


/* Side bar */

.admin_options {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid #c3c6d1;

}

.options_title {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    height: 50px;
}

.options_title .options_icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.options_title .options_label {
    font-size: 1.6rem;
    font-weight: 500;
}


.options_group {
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    background-color: transparent;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 8px 16px;
    cursor: pointer;
}

.options_group {
    border-top: 1px solid #c3c6d1;
}

@keyframes pickup {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-4px);
    }
}

.options_group:hover {
    animation-name: pickup;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.options_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: brown;
    font-size: 1.4rem;
}

.options_lable {
    font-weight: 400;
}


/* Table */
.admin_table {
    font-size: 1.4rem;
    margin-top: 20px;
}