/* ================================== Form =================================== */
.data_form {
    width: 75%;
}
.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.form-label {
    min-width: 120px;
    font-size: 1.8rem;
}

.form-control {
    font-size: 1.6rem;
    padding: 6px 4px;
}

/* ================================ Login form ================================= */

.game_brand {
    color: darkorchid;
    font-size: 9rem;
    top: 50%;
    left: 50%;
    transform: rotate(20deg) translateY(-20%) translateX(-52%);
    filter: blur(5px);
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 550px;
    min-height: 550px;
}


.login-form_input {
    height: 55px;
    color: white;
    background-color: transparent;
    caret-color: darkblue;
    padding-left: 25px;
    padding-right: 0px;
    border-radius: 25px;
    margin-top: 4px;
}

.login-form_input[type="password"] {
    visibility: visible;
}

.login-form_input::placeholder {
    color: white;
}

.login-form_input:focus {
    background-color: transparent;
    color: white;
    outline: none;
    border-color: darkblue;
    box-shadow: none;
}


.login-form_input + .login-form_input {
    margin-top: 8px;
}

.login_btn {
    font-size: 1.6rem;
    padding: 8px 0;
    margin: 0 16px;
    border-radius: 25px;
}

.login_btn:hover {
    background-color: darkviolet!important;
    border: 1px solid violet;
    color: whitesmoke;
    transition: all ease-in-out 300ms;
}

.reg_brand {
    font-size: 2.5rem;
    padding: 6px;
}

.reg_brand:hover i {
    color: violet;
    transition: all ease-in-out 300ms;
}