* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* Config */

/* tag */
a {
    text-decoration: none;
    color: black ;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* class */
/* Truncate text */
.truncated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.truncated-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
/* 5 collums */
.col-2-4, .col-md-2-4, .col-lg-2-4,.col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
}


/* Width */
.w-90 {
    width: 90%!important;
}

.w-40 {
    width: 40%!important;
}

.w-30 {
    width: 30%!important;
}

/* Background color */
.bg-blur {
    backdrop-filter: blur(10px);
}

.bg-gradient {
    background-image: linear-gradient(to right, #c364fa, #a230fa, #7b00fa, darkviolet)!important;
}

/* Scroll bar */

.overflow-x-scroll::-webkit-scrollbar {
    height: 1px;
    background-color: black;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 2px;
}

/* Aspect ratio */
/* Wrapper a image */
.picture16x9 {
    height: 1px;
    padding-bottom: calc(9/16*100%);
}

.picture3x3 {
    height: 1px;
    padding-bottom: 100%;
}

/* Strong alert */
.invalid-feedback {
    text-align: left;
}

/* Card wrapper */
.card_wrapper {
    padding: 40px 0;
    box-shadow: 5px 5px 5px 5px darkslateblue!important;
}