.admin_area {
    background-color: white;
    background-size: cover;
    background-position: center;
    font-size: 1.6rem;
}

/* admin panel */
.admin_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    box-shadow: 5px 5px 2px 0px rgba(216,213,213,0.38);
    -webkit-box-shadow: 5px 5px 2px 0px rgba(216,213,213,0.38);
    -moz-box-shadow: 5px 5px 2px 0px rgba(216,213,213,0.38);
    min-height: 220px;
    /* padding: 12px; */
}


.admin_title {
    display: flex;
    flex: 1;
    padding: 0 24px;
    align-items: center;
    margin-left: 8px;
    font-size: 3rem;
}
.admin_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 60px;
    height: 60px;
    margin-right: 12px;
    border-radius: 50%;
    font-family: 'Courier New', Courier, monospace;
}

.admin_counter {
    font-size: 4rem;
    padding: 0 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.admin_nav_item {
}
.admin_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-radius: 3px solid #fff;
}
/*================================= Side bar ==================================*/
.sidebar-left {
    background-color: transparent;
}
.btn_admin {
    font-size: 1.8rem;
    font-weight: bold;
    height: 40px;
    width: 40px;
}

.admin-list {
    width: 100%;
    margin-bottom: 50px;
}

.admin_sidebar {
    background-color: #fff;
    border-right: 4px solid #7777;
}

.sidebar-label {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: 4px 12px;
    height: 50px;
    color: white;
}
.sidebar_item {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: white;
    /* backdrop-filter: blur(2px); */
}

.sidebar_link {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    color: black;
    flex: 1;
    padding: 10px;
}

.sidebar_link i {
    font-size: 2.5rem;
    width: 30px;
}

.sidebar_link:hover {
    background-color: rgb(27, 151, 213);
    color: white!important;
    border-radius: 8px;
    transition: all ease 300ms;
}

.sidebar_item + .sidebar_item {
    margin-top: 4px;
    border-top: 1px solid rgb(245, 245, 245);
}

/* Game items */

.games-item {
    background-color: #666;
    opacity: 1;
}

.games-item:hover {
    opacity: 0.8;
    transform: translateY(-4px);
    box-shadow: 5px 5px 5px 0px rgba(193, 87, 238, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(193, 87, 238, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(193, 87, 238, 0.75);
    transition: all ease-in-out 300ms;
}




/* ================================== Table ====================================*/
.admin_table {
    font-size: 1.2rem;
    min-height: 320px;
}

.home_admin {
    color: black;
}

/* ================================= Button =================================*/
.btn-submit {
    margin-left: auto;
    min-width: 120px;
    font-size: 1.6rem;
}

/* ==================== Select tag =========================== */
.select_item {
    font-size: 1.6rem;
    width: 100%;
    font-weight: 700;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}